.bk_navbar {
	background-image: url(../images/index_02.gif);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 12px;
	color: #624A7E;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	text-align: justify;
}

.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
	text-align: justify;

}

.text2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 15px;
}

.counter2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
}

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0871AD;
	text-decoration: none;

}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;

}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F54400;
	text-decoration: underline;

}

a:slink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0871AD;
	text-decoration: none;

}
a:slink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	text-decoration: none;

}
a:slink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #F54400;
	text-decoration: underline;

}

a.small_lk:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #364369;
	text-decoration: none;
	font-weight: none;
}
a.small_lk:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #364369;
	text-decoration: none;
	font-weight: none;
}
a.small_lk:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5F75B5;
	text-decoration: none;
	font-weight: none;
}

.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0871AD;
	font-weight: bold;
}

.search_box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4F5559;
	background-color: #E7EDF9;
	border: 1px solid #B2B2B2;
	padding: 1px;
	margin: 1px;
}

.search_box1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4F5559;
	background-color: #EEEFF9;
	border: 1px solid #B2B2B2;
	padding: 1px;
	margin: 1px;
}

.login_box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8E8E8E;
	background-color: #F0F3FA;
	border: 1px solid #688BC3;
	padding: 1px;
	margin: 1px;
}

.text_box {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #624A7E;
	background-color: #D8D6E7;
	border: 1px solid #A59FC6;
	padding: 1px;
	margin: 0px;
}

.table { border: #6699CC;
     border-style: solid;
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 1px;
     margin-bottom: 0px;
     margin-top: 0px;
     margin-right: 0px;
     margin-left: 0px;
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
}

.table_front { border: #F4F4F4;
     border-style: solid;
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 1px;
     margin-bottom: 0px;
     margin-top: 0px;
     margin-right: 0px;
     margin-left: 0px;
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
}

.EE TD {
	BORDER-TOP: #c1cdd8 1px solid; HEIGHT: 4px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px
}

.EE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #000000;

	BORDER-BOTTOM: #ffffff 1px solid; 
	BORDER-COLLAPSE: collapse; 
	BORDER-LEFT: #ffffff 1px solid; 
	BORDER-RIGHT: #ffffff 1px solid; 
	BORDER-TOP: #ffffff 1px solid; 
	EMPTY-CELLS: show
}

.imageLayerFade_Normal
	{
		filter: alpha(opacity=70); -moz-opacity: 0.70;
		border: solid 0px #333333;
	}
.imageLayerFade_Hover
	{
		filter: alpha(opacity=100); -moz-opacity: 1.00;
		border: solid 0px #000000;
	}
.pointer
	{
		cursor: default;
	}